*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #548687;
    text-align: center;
}
h1{
    align-items: center;
    margin-top: 10px;
}

.container{
 
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    flex-wrap: wrap;
}

.box{

    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: #ffffc7;
    transition: background-color 0.3s ease-in-out;
}
.x-color{
    color: blue;
}
.o-color{
    color: #b0413e;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 10px;
    border: none;
}
#new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 10px;
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.msg-container{
 height: 25vmin;
 /* display: flex; */
}
.hide{
    display: none;
}
.box:hover {
    background-color: #d2d2a0;
}

#reset:hover,
#new-game:hover {
    background-color: #2a2a2a;
}

